/* this comes directly from the Google Docs "Download as HTML" */
ul.lst-kix_81nm27wkcq4v-1 {
  list-style-type: none;
}
ul.lst-kix_81nm27wkcq4v-0 {
  list-style-type: none;
}
ul.lst-kix_81nm27wkcq4v-3 {
  list-style-type: none;
}
ul.lst-kix_81nm27wkcq4v-2 {
  list-style-type: none;
}
ul.lst-kix_81nm27wkcq4v-5 {
  list-style-type: none;
}
ul.lst-kix_81nm27wkcq4v-4 {
  list-style-type: none;
}
ul.lst-kix_81nm27wkcq4v-7 {
  list-style-type: none;
}
ul.lst-kix_81nm27wkcq4v-6 {
  list-style-type: none;
}
ul.lst-kix_d4vfyjs3ueen-8 {
  list-style-type: none;
}
ul.lst-kix_d4vfyjs3ueen-7 {
  list-style-type: none;
}
ul.lst-kix_81nm27wkcq4v-8 {
  list-style-type: none;
}
ol.lst-kix_engtlp7jicgj-7.start {
  counter-reset: lst-ctn-kix_engtlp7jicgj-7 0;
}
ul.lst-kix_d4vfyjs3ueen-0 {
  list-style-type: none;
}
ul.lst-kix_d4vfyjs3ueen-2 {
  list-style-type: none;
}
ul.lst-kix_d4vfyjs3ueen-1 {
  list-style-type: none;
}
ul.lst-kix_d4vfyjs3ueen-4 {
  list-style-type: none;
}
ul.lst-kix_d4vfyjs3ueen-3 {
  list-style-type: none;
}
ul.lst-kix_d4vfyjs3ueen-6 {
  list-style-type: none;
}
ul.lst-kix_d4vfyjs3ueen-5 {
  list-style-type: none;
}
.lst-kix_engtlp7jicgj-0 > li {
  counter-increment: lst-ctn-kix_engtlp7jicgj-0;
}
ul.lst-kix_p7622ujba06y-6 {
  list-style-type: none;
}
ul.lst-kix_hwvdx1z554hi-8 {
  list-style-type: none;
}
ul.lst-kix_p7622ujba06y-5 {
  list-style-type: none;
}
ul.lst-kix_p7622ujba06y-8 {
  list-style-type: none;
}
ul.lst-kix_p7622ujba06y-7 {
  list-style-type: none;
}
.lst-kix_81nm27wkcq4v-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_81nm27wkcq4v-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_p7622ujba06y-2 {
  list-style-type: none;
}
ul.lst-kix_p7622ujba06y-1 {
  list-style-type: none;
}
ul.lst-kix_p7622ujba06y-4 {
  list-style-type: none;
}
ul.lst-kix_p7622ujba06y-3 {
  list-style-type: none;
}
.lst-kix_81nm27wkcq4v-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_81nm27wkcq4v-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_hwvdx1z554hi-0 {
  list-style-type: none;
}
ul.lst-kix_hwvdx1z554hi-1 {
  list-style-type: none;
}
ol.lst-kix_cvbgyqmv7tlq-7.start {
  counter-reset: lst-ctn-kix_cvbgyqmv7tlq-7 0;
}
ul.lst-kix_hwvdx1z554hi-2 {
  list-style-type: none;
}
ul.lst-kix_hwvdx1z554hi-3 {
  list-style-type: none;
}
ul.lst-kix_hwvdx1z554hi-4 {
  list-style-type: none;
}
ul.lst-kix_hwvdx1z554hi-5 {
  list-style-type: none;
}
ul.lst-kix_hwvdx1z554hi-6 {
  list-style-type: none;
}
.lst-kix_81nm27wkcq4v-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_hwvdx1z554hi-7 {
  list-style-type: none;
}
.lst-kix_81nm27wkcq4v-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_p7622ujba06y-0 {
  list-style-type: none;
}
.lst-kix_81nm27wkcq4v-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_81nm27wkcq4v-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_81nm27wkcq4v-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_hwvdx1z554hi-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_hwvdx1z554hi-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_cvbgyqmv7tlq-4 > li {
  counter-increment: lst-ctn-kix_cvbgyqmv7tlq-4;
}
.lst-kix_hwvdx1z554hi-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_hwvdx1z554hi-3 > li:before {
  content: "\0025cf   ";
}
ol.lst-kix_engtlp7jicgj-2.start {
  counter-reset: lst-ctn-kix_engtlp7jicgj-2 0;
}
.lst-kix_hwvdx1z554hi-6 > li:before {
  content: "\0025cf   ";
}
ol.lst-kix_cvbgyqmv7tlq-0.start {
  counter-reset: lst-ctn-kix_cvbgyqmv7tlq-0 0;
}
.lst-kix_hwvdx1z554hi-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_hwvdx1z554hi-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_hwvdx1z554hi-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_hwvdx1z554hi-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_31n1dxjkew57-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_31n1dxjkew57-4 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_l15ecstl8oa-5 {
  list-style-type: none;
}
.lst-kix_l15ecstl8oa-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_31n1dxjkew57-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_qyuos0sfnpq1-4 {
  list-style-type: none;
}
ul.lst-kix_l15ecstl8oa-4 {
  list-style-type: none;
}
ul.lst-kix_qyuos0sfnpq1-3 {
  list-style-type: none;
}
ul.lst-kix_l15ecstl8oa-7 {
  list-style-type: none;
}
ul.lst-kix_qyuos0sfnpq1-2 {
  list-style-type: none;
}
ul.lst-kix_l15ecstl8oa-6 {
  list-style-type: none;
}
ul.lst-kix_qyuos0sfnpq1-1 {
  list-style-type: none;
}
ul.lst-kix_qyuos0sfnpq1-0 {
  list-style-type: none;
}
ul.lst-kix_l15ecstl8oa-8 {
  list-style-type: none;
}
.lst-kix_l15ecstl8oa-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_qyuos0sfnpq1-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_31n1dxjkew57-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_l15ecstl8oa-1 {
  list-style-type: none;
}
.lst-kix_l15ecstl8oa-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_31n1dxjkew57-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_qyuos0sfnpq1-8 {
  list-style-type: none;
}
ul.lst-kix_l15ecstl8oa-0 {
  list-style-type: none;
}
.lst-kix_qyuos0sfnpq1-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_qyuos0sfnpq1-7 {
  list-style-type: none;
}
ul.lst-kix_l15ecstl8oa-3 {
  list-style-type: none;
}
ul.lst-kix_qyuos0sfnpq1-6 {
  list-style-type: none;
}
ul.lst-kix_l15ecstl8oa-2 {
  list-style-type: none;
}
ul.lst-kix_qyuos0sfnpq1-5 {
  list-style-type: none;
}
.lst-kix_d4vfyjs3ueen-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_l15ecstl8oa-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_i4l4wvvzngzv-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_i4l4wvvzngzv-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_i4l4wvvzngzv-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_qrbxqyylhkyl-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_d4vfyjs3ueen-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_cvbgyqmv7tlq-8 > li {
  counter-increment: lst-ctn-kix_cvbgyqmv7tlq-8;
}
.lst-kix_qrbxqyylhkyl-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_qrbxqyylhkyl-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_33ftv2cjf5y4-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_d4vfyjs3ueen-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_33ftv2cjf5y4-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_qrbxqyylhkyl-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_l15ecstl8oa-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_d4vfyjs3ueen-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_q911cx4q8g5c-0 {
  list-style-type: none;
}
.lst-kix_33ftv2cjf5y4-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_q911cx4q8g5c-1 {
  list-style-type: none;
}
.lst-kix_33ftv2cjf5y4-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_q911cx4q8g5c-8 {
  list-style-type: none;
}
ul.lst-kix_q911cx4q8g5c-6 {
  list-style-type: none;
}
ul.lst-kix_q911cx4q8g5c-7 {
  list-style-type: none;
}
ul.lst-kix_q911cx4q8g5c-4 {
  list-style-type: none;
}
ul.lst-kix_q911cx4q8g5c-5 {
  list-style-type: none;
}
ul.lst-kix_q911cx4q8g5c-2 {
  list-style-type: none;
}
ul.lst-kix_q911cx4q8g5c-3 {
  list-style-type: none;
}
.lst-kix_i4l4wvvzngzv-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_i4l4wvvzngzv-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_db86g94n0120-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_engtlp7jicgj-4 > li {
  counter-increment: lst-ctn-kix_engtlp7jicgj-4;
}
.lst-kix_db86g94n0120-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_db86g94n0120-1 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_engtlp7jicgj-5.start {
  counter-reset: lst-ctn-kix_engtlp7jicgj-5 0;
}
.lst-kix_db86g94n0120-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_cvbgyqmv7tlq-3 > li {
  counter-increment: lst-ctn-kix_cvbgyqmv7tlq-3;
}
.lst-kix_d8xnr192hzp4-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_cvbgyqmv7tlq-5 > li {
  counter-increment: lst-ctn-kix_cvbgyqmv7tlq-5;
}
ul.lst-kix_s3yw7jniojtf-5 {
  list-style-type: none;
}
ul.lst-kix_s3yw7jniojtf-4 {
  list-style-type: none;
}
ul.lst-kix_s3yw7jniojtf-7 {
  list-style-type: none;
}
ul.lst-kix_s3yw7jniojtf-6 {
  list-style-type: none;
}
ul.lst-kix_s3yw7jniojtf-1 {
  list-style-type: none;
}
ul.lst-kix_s3yw7jniojtf-0 {
  list-style-type: none;
}
ul.lst-kix_s3yw7jniojtf-3 {
  list-style-type: none;
}
ul.lst-kix_s3yw7jniojtf-2 {
  list-style-type: none;
}
.lst-kix_nem1afc1c9kg-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_engtlp7jicgj-5 > li:before {
  content: "" counter(lst-ctn-kix_engtlp7jicgj-5, lower-roman) ". ";
}
.lst-kix_nem1afc1c9kg-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_engtlp7jicgj-4 > li:before {
  content: "" counter(lst-ctn-kix_engtlp7jicgj-4, lower-latin) ". ";
}
.lst-kix_engtlp7jicgj-8 > li:before {
  content: "" counter(lst-ctn-kix_engtlp7jicgj-8, lower-roman) ". ";
}
.lst-kix_qrbxqyylhkyl-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_engtlp7jicgj-1 > li:before {
  content: "" counter(lst-ctn-kix_engtlp7jicgj-1, lower-latin) ". ";
}
.lst-kix_engtlp7jicgj-5 > li {
  counter-increment: lst-ctn-kix_engtlp7jicgj-5;
}
.lst-kix_nem1afc1c9kg-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_engtlp7jicgj-0 > li:before {
  content: "" counter(lst-ctn-kix_engtlp7jicgj-0, decimal) ". ";
}
.lst-kix_nem1afc1c9kg-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_33ftv2cjf5y4-2 {
  list-style-type: none;
}
ul.lst-kix_33ftv2cjf5y4-3 {
  list-style-type: none;
}
.lst-kix_nem1afc1c9kg-4 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_33ftv2cjf5y4-4 {
  list-style-type: none;
}
ul.lst-kix_33ftv2cjf5y4-5 {
  list-style-type: none;
}
ul.lst-kix_33ftv2cjf5y4-0 {
  list-style-type: none;
}
ul.lst-kix_33ftv2cjf5y4-1 {
  list-style-type: none;
}
.lst-kix_iyzvfgl4a3d0-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_iyzvfgl4a3d0-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_33ftv2cjf5y4-6 {
  list-style-type: none;
}
.lst-kix_cvbgyqmv7tlq-7 > li {
  counter-increment: lst-ctn-kix_cvbgyqmv7tlq-7;
}
ul.lst-kix_33ftv2cjf5y4-7 {
  list-style-type: none;
}
.lst-kix_s3yw7jniojtf-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_33ftv2cjf5y4-8 {
  list-style-type: none;
}
.lst-kix_s3yw7jniojtf-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_iyzvfgl4a3d0-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_s3yw7jniojtf-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_qyuos0sfnpq1-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_iyzvfgl4a3d0-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_qyuos0sfnpq1-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_qyuos0sfnpq1-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_iyzvfgl4a3d0-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_s3yw7jniojtf-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ofmdwobukkl4-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_egbjx34dlfyn-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_31n1dxjkew57-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_qyuos0sfnpq1-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_nem1afc1c9kg-4 {
  list-style-type: none;
}
.lst-kix_31n1dxjkew57-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_nem1afc1c9kg-3 {
  list-style-type: none;
}
ul.lst-kix_nem1afc1c9kg-2 {
  list-style-type: none;
}
ul.lst-kix_nem1afc1c9kg-1 {
  list-style-type: none;
}
ul.lst-kix_nem1afc1c9kg-8 {
  list-style-type: none;
}
ul.lst-kix_nem1afc1c9kg-7 {
  list-style-type: none;
}
ul.lst-kix_nem1afc1c9kg-6 {
  list-style-type: none;
}
.lst-kix_l15ecstl8oa-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_nem1afc1c9kg-5 {
  list-style-type: none;
}
.lst-kix_mukn1ij2b5jh-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_d4vfyjs3ueen-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ofmdwobukkl4-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_i4l4wvvzngzv-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_33ftv2cjf5y4-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_egbjx34dlfyn-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_nem1afc1c9kg-0 {
  list-style-type: none;
}
.lst-kix_qrbxqyylhkyl-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_egbjx34dlfyn-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_d4vfyjs3ueen-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_33ftv2cjf5y4-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_l15ecstl8oa-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_s3yw7jniojtf-8 {
  list-style-type: none;
}
.lst-kix_prjn3vk11lit-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_cvbgyqmv7tlq-5 > li:before {
  content: "" counter(lst-ctn-kix_cvbgyqmv7tlq-5, lower-roman) ". ";
}
.lst-kix_prjn3vk11lit-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_qrbxqyylhkyl-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_mukn1ij2b5jh-0 {
  list-style-type: none;
}
ul.lst-kix_mukn1ij2b5jh-2 {
  list-style-type: none;
}
ul.lst-kix_mukn1ij2b5jh-1 {
  list-style-type: none;
}
ul.lst-kix_mukn1ij2b5jh-4 {
  list-style-type: none;
}
.lst-kix_cvbgyqmv7tlq-0 > li {
  counter-increment: lst-ctn-kix_cvbgyqmv7tlq-0;
}
.lst-kix_33ftv2cjf5y4-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_mukn1ij2b5jh-3 {
  list-style-type: none;
}
.lst-kix_vx8cqbkc8al6-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_mukn1ij2b5jh-6 {
  list-style-type: none;
}
ul.lst-kix_mukn1ij2b5jh-5 {
  list-style-type: none;
}
ul.lst-kix_mukn1ij2b5jh-8 {
  list-style-type: none;
}
ul.lst-kix_mukn1ij2b5jh-7 {
  list-style-type: none;
}
.lst-kix_q911cx4q8g5c-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_i4l4wvvzngzv-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_engtlp7jicgj-7 > li {
  counter-increment: lst-ctn-kix_engtlp7jicgj-7;
}
.lst-kix_db86g94n0120-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_d8xnr192hzp4-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_q911cx4q8g5c-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_q911cx4q8g5c-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_db86g94n0120-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_d8xnr192hzp4-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_ds53uztm0smd-3 {
  list-style-type: none;
}
ul.lst-kix_ds53uztm0smd-2 {
  list-style-type: none;
}
ul.lst-kix_ds53uztm0smd-1 {
  list-style-type: none;
}
ul.lst-kix_ds53uztm0smd-0 {
  list-style-type: none;
}
ul.lst-kix_ds53uztm0smd-7 {
  list-style-type: none;
}
ul.lst-kix_ds53uztm0smd-6 {
  list-style-type: none;
}
ul.lst-kix_ds53uztm0smd-5 {
  list-style-type: none;
}
ul.lst-kix_ds53uztm0smd-4 {
  list-style-type: none;
}
ul.lst-kix_ds53uztm0smd-8 {
  list-style-type: none;
}
ul.lst-kix_iyzvfgl4a3d0-8 {
  list-style-type: none;
}
.lst-kix_engtlp7jicgj-2 > li {
  counter-increment: lst-ctn-kix_engtlp7jicgj-2;
}
ol.lst-kix_cvbgyqmv7tlq-6.start {
  counter-reset: lst-ctn-kix_cvbgyqmv7tlq-6 0;
}
ul.lst-kix_iyzvfgl4a3d0-6 {
  list-style-type: none;
}
ul.lst-kix_iyzvfgl4a3d0-7 {
  list-style-type: none;
}
ol.lst-kix_engtlp7jicgj-1.start {
  counter-reset: lst-ctn-kix_engtlp7jicgj-1 0;
}
ul.lst-kix_iyzvfgl4a3d0-0 {
  list-style-type: none;
}
ul.lst-kix_iyzvfgl4a3d0-1 {
  list-style-type: none;
}
ul.lst-kix_iyzvfgl4a3d0-4 {
  list-style-type: none;
}
ul.lst-kix_iyzvfgl4a3d0-5 {
  list-style-type: none;
}
ul.lst-kix_iyzvfgl4a3d0-2 {
  list-style-type: none;
}
ul.lst-kix_iyzvfgl4a3d0-3 {
  list-style-type: none;
}
.lst-kix_vx8cqbkc8al6-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_vx8cqbkc8al6-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_vx8cqbkc8al6-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_vx8cqbkc8al6-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_vx8cqbkc8al6-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_cvbgyqmv7tlq-0 > li:before {
  content: "" counter(lst-ctn-kix_cvbgyqmv7tlq-0, decimal) ". ";
}
.lst-kix_cvbgyqmv7tlq-2 > li:before {
  content: "" counter(lst-ctn-kix_cvbgyqmv7tlq-2, lower-roman) ". ";
}
.lst-kix_vx8cqbkc8al6-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_cvbgyqmv7tlq-2 > li {
  counter-increment: lst-ctn-kix_cvbgyqmv7tlq-2;
}
.lst-kix_vx8cqbkc8al6-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_cvbgyqmv7tlq-1 > li:before {
  content: "" counter(lst-ctn-kix_cvbgyqmv7tlq-1, lower-latin) ". ";
}
.lst-kix_p7622ujba06y-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_p7622ujba06y-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_engtlp7jicgj-6 > li {
  counter-increment: lst-ctn-kix_engtlp7jicgj-6;
}
.lst-kix_p7622ujba06y-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_3m73zce5t4es-5 {
  list-style-type: none;
}
ul.lst-kix_3m73zce5t4es-4 {
  list-style-type: none;
}
ul.lst-kix_3m73zce5t4es-7 {
  list-style-type: none;
}
ul.lst-kix_3m73zce5t4es-6 {
  list-style-type: none;
}
ul.lst-kix_3m73zce5t4es-8 {
  list-style-type: none;
}
.lst-kix_p7622ujba06y-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_3m73zce5t4es-7 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_cvbgyqmv7tlq-1.start {
  counter-reset: lst-ctn-kix_cvbgyqmv7tlq-1 0;
}
.lst-kix_3m73zce5t4es-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ds53uztm0smd-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_3m73zce5t4es-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ds53uztm0smd-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ds53uztm0smd-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_mukn1ij2b5jh-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_3m73zce5t4es-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_3m73zce5t4es-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_3m73zce5t4es-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_mukn1ij2b5jh-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_3m73zce5t4es-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ds53uztm0smd-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_mukn1ij2b5jh-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ds53uztm0smd-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_3m73zce5t4es-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_mukn1ij2b5jh-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_p7622ujba06y-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ds53uztm0smd-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_3m73zce5t4es-1 {
  list-style-type: none;
}
ul.lst-kix_3m73zce5t4es-0 {
  list-style-type: none;
}
ul.lst-kix_3m73zce5t4es-3 {
  list-style-type: none;
}
.lst-kix_mukn1ij2b5jh-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_p7622ujba06y-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ds53uztm0smd-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_3m73zce5t4es-2 {
  list-style-type: none;
}
.lst-kix_mukn1ij2b5jh-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_p7622ujba06y-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_p7622ujba06y-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ds53uztm0smd-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_3m73zce5t4es-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_mukn1ij2b5jh-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_p7622ujba06y-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ds53uztm0smd-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_db86g94n0120-5 {
  list-style-type: none;
}
ul.lst-kix_db86g94n0120-4 {
  list-style-type: none;
}
.lst-kix_ofmdwobukkl4-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_db86g94n0120-3 {
  list-style-type: none;
}
ul.lst-kix_db86g94n0120-2 {
  list-style-type: none;
}
ul.lst-kix_db86g94n0120-8 {
  list-style-type: none;
}
.lst-kix_ofmdwobukkl4-5 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_engtlp7jicgj-8.start {
  counter-reset: lst-ctn-kix_engtlp7jicgj-8 0;
}
ul.lst-kix_db86g94n0120-7 {
  list-style-type: none;
}
ul.lst-kix_db86g94n0120-6 {
  list-style-type: none;
}
.lst-kix_egbjx34dlfyn-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_egbjx34dlfyn-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_db86g94n0120-1 {
  list-style-type: none;
}
ul.lst-kix_db86g94n0120-0 {
  list-style-type: none;
}
.lst-kix_ofmdwobukkl4-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_mukn1ij2b5jh-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ofmdwobukkl4-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_vx8cqbkc8al6-7 {
  list-style-type: none;
}
ul.lst-kix_vx8cqbkc8al6-6 {
  list-style-type: none;
}
ul.lst-kix_vx8cqbkc8al6-5 {
  list-style-type: none;
}
ul.lst-kix_vx8cqbkc8al6-4 {
  list-style-type: none;
}
ul.lst-kix_vx8cqbkc8al6-3 {
  list-style-type: none;
}
ul.lst-kix_vx8cqbkc8al6-2 {
  list-style-type: none;
}
ul.lst-kix_vx8cqbkc8al6-1 {
  list-style-type: none;
}
ul.lst-kix_vx8cqbkc8al6-0 {
  list-style-type: none;
}
.lst-kix_egbjx34dlfyn-7 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_cvbgyqmv7tlq-8.start {
  counter-reset: lst-ctn-kix_cvbgyqmv7tlq-8 0;
}
.lst-kix_egbjx34dlfyn-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_vx8cqbkc8al6-8 {
  list-style-type: none;
}
.lst-kix_prjn3vk11lit-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_cvbgyqmv7tlq-8 > li:before {
  content: "" counter(lst-ctn-kix_cvbgyqmv7tlq-8, lower-roman) ". ";
}
.lst-kix_cvbgyqmv7tlq-4 > li:before {
  content: "" counter(lst-ctn-kix_cvbgyqmv7tlq-4, lower-latin) ". ";
}
.lst-kix_prjn3vk11lit-2 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_engtlp7jicgj-6.start {
  counter-reset: lst-ctn-kix_engtlp7jicgj-6 0;
}
.lst-kix_prjn3vk11lit-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_prjn3vk11lit-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_cvbgyqmv7tlq-6 > li:before {
  content: "" counter(lst-ctn-kix_cvbgyqmv7tlq-6, decimal) ". ";
}
.lst-kix_prjn3vk11lit-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_d8xnr192hzp4-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_vx8cqbkc8al6-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_d8xnr192hzp4-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_d8xnr192hzp4-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_q911cx4q8g5c-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_d8xnr192hzp4-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_i4l4wvvzngzv-4 {
  list-style-type: none;
}
ul.lst-kix_31n1dxjkew57-8 {
  list-style-type: none;
}
ul.lst-kix_i4l4wvvzngzv-5 {
  list-style-type: none;
}
ul.lst-kix_31n1dxjkew57-7 {
  list-style-type: none;
}
ul.lst-kix_i4l4wvvzngzv-2 {
  list-style-type: none;
}
ul.lst-kix_i4l4wvvzngzv-3 {
  list-style-type: none;
}
ul.lst-kix_i4l4wvvzngzv-0 {
  list-style-type: none;
}
ul.lst-kix_i4l4wvvzngzv-1 {
  list-style-type: none;
}
.lst-kix_q911cx4q8g5c-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_qrbxqyylhkyl-4 {
  list-style-type: none;
}
ul.lst-kix_31n1dxjkew57-0 {
  list-style-type: none;
}
ul.lst-kix_qrbxqyylhkyl-3 {
  list-style-type: none;
}
ul.lst-kix_qrbxqyylhkyl-2 {
  list-style-type: none;
}
ul.lst-kix_31n1dxjkew57-2 {
  list-style-type: none;
}
ul.lst-kix_qrbxqyylhkyl-1 {
  list-style-type: none;
}
ul.lst-kix_31n1dxjkew57-1 {
  list-style-type: none;
}
.lst-kix_q911cx4q8g5c-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_i4l4wvvzngzv-8 {
  list-style-type: none;
}
ul.lst-kix_qrbxqyylhkyl-8 {
  list-style-type: none;
}
ul.lst-kix_31n1dxjkew57-4 {
  list-style-type: none;
}
ul.lst-kix_qrbxqyylhkyl-7 {
  list-style-type: none;
}
ul.lst-kix_31n1dxjkew57-3 {
  list-style-type: none;
}
ul.lst-kix_i4l4wvvzngzv-6 {
  list-style-type: none;
}
ul.lst-kix_qrbxqyylhkyl-6 {
  list-style-type: none;
}
ul.lst-kix_31n1dxjkew57-6 {
  list-style-type: none;
}
ul.lst-kix_i4l4wvvzngzv-7 {
  list-style-type: none;
}
ul.lst-kix_qrbxqyylhkyl-5 {
  list-style-type: none;
}
ul.lst-kix_31n1dxjkew57-5 {
  list-style-type: none;
}
ul.lst-kix_qrbxqyylhkyl-0 {
  list-style-type: none;
}
.lst-kix_q911cx4q8g5c-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_d8xnr192hzp4-1 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_engtlp7jicgj-4.start {
  counter-reset: lst-ctn-kix_engtlp7jicgj-4 0;
}
.lst-kix_engtlp7jicgj-3 > li {
  counter-increment: lst-ctn-kix_engtlp7jicgj-3;
}
ol.lst-kix_engtlp7jicgj-3.start {
  counter-reset: lst-ctn-kix_engtlp7jicgj-3 0;
}
.lst-kix_engtlp7jicgj-6 > li:before {
  content: "" counter(lst-ctn-kix_engtlp7jicgj-6, decimal) ". ";
}
.lst-kix_nem1afc1c9kg-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_nem1afc1c9kg-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_engtlp7jicgj-3 > li:before {
  content: "" counter(lst-ctn-kix_engtlp7jicgj-3, decimal) ". ";
}
.lst-kix_engtlp7jicgj-7 > li:before {
  content: "" counter(lst-ctn-kix_engtlp7jicgj-7, lower-latin) ". ";
}
.lst-kix_engtlp7jicgj-2 > li:before {
  content: "" counter(lst-ctn-kix_engtlp7jicgj-2, lower-roman) ". ";
}
ol.lst-kix_cvbgyqmv7tlq-4 {
  list-style-type: none;
}
ol.lst-kix_cvbgyqmv7tlq-5 {
  list-style-type: none;
}
ol.lst-kix_cvbgyqmv7tlq-6 {
  list-style-type: none;
}
ol.lst-kix_cvbgyqmv7tlq-7 {
  list-style-type: none;
}
ol.lst-kix_cvbgyqmv7tlq-8 {
  list-style-type: none;
}
.lst-kix_nem1afc1c9kg-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_nem1afc1c9kg-2 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_cvbgyqmv7tlq-0 {
  list-style-type: none;
}
ol.lst-kix_cvbgyqmv7tlq-1 {
  list-style-type: none;
}
ol.lst-kix_cvbgyqmv7tlq-2 {
  list-style-type: none;
}
ol.lst-kix_cvbgyqmv7tlq-3 {
  list-style-type: none;
}
ul.lst-kix_ofmdwobukkl4-0 {
  list-style-type: none;
}
.lst-kix_s3yw7jniojtf-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_s3yw7jniojtf-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_ofmdwobukkl4-1 {
  list-style-type: none;
}
.lst-kix_iyzvfgl4a3d0-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_ofmdwobukkl4-2 {
  list-style-type: none;
}
ul.lst-kix_ofmdwobukkl4-3 {
  list-style-type: none;
}
ul.lst-kix_prjn3vk11lit-1 {
  list-style-type: none;
}
ul.lst-kix_ofmdwobukkl4-4 {
  list-style-type: none;
}
ul.lst-kix_prjn3vk11lit-0 {
  list-style-type: none;
}
ul.lst-kix_ofmdwobukkl4-5 {
  list-style-type: none;
}
ul.lst-kix_prjn3vk11lit-3 {
  list-style-type: none;
}
ul.lst-kix_ofmdwobukkl4-6 {
  list-style-type: none;
}
ul.lst-kix_prjn3vk11lit-2 {
  list-style-type: none;
}
ul.lst-kix_ofmdwobukkl4-7 {
  list-style-type: none;
}
.lst-kix_cvbgyqmv7tlq-1 > li {
  counter-increment: lst-ctn-kix_cvbgyqmv7tlq-1;
}
ul.lst-kix_prjn3vk11lit-5 {
  list-style-type: none;
}
.lst-kix_s3yw7jniojtf-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_ofmdwobukkl4-8 {
  list-style-type: none;
}
ul.lst-kix_prjn3vk11lit-4 {
  list-style-type: none;
}
.lst-kix_s3yw7jniojtf-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_s3yw7jniojtf-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_prjn3vk11lit-7 {
  list-style-type: none;
}
ul.lst-kix_prjn3vk11lit-6 {
  list-style-type: none;
}
.lst-kix_iyzvfgl4a3d0-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_prjn3vk11lit-8 {
  list-style-type: none;
}
.lst-kix_qyuos0sfnpq1-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_d8xnr192hzp4-0 {
  list-style-type: none;
}
ul.lst-kix_d8xnr192hzp4-2 {
  list-style-type: none;
}
ul.lst-kix_d8xnr192hzp4-1 {
  list-style-type: none;
}
ul.lst-kix_d8xnr192hzp4-4 {
  list-style-type: none;
}
.lst-kix_iyzvfgl4a3d0-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_d8xnr192hzp4-3 {
  list-style-type: none;
}
ul.lst-kix_d8xnr192hzp4-6 {
  list-style-type: none;
}
.lst-kix_iyzvfgl4a3d0-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_d8xnr192hzp4-5 {
  list-style-type: none;
}
.lst-kix_qyuos0sfnpq1-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_d8xnr192hzp4-8 {
  list-style-type: none;
}
ul.lst-kix_d8xnr192hzp4-7 {
  list-style-type: none;
}
.lst-kix_31n1dxjkew57-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ofmdwobukkl4-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ofmdwobukkl4-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_l15ecstl8oa-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_qyuos0sfnpq1-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_egbjx34dlfyn-2 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_cvbgyqmv7tlq-2.start {
  counter-reset: lst-ctn-kix_cvbgyqmv7tlq-2 0;
}
.lst-kix_31n1dxjkew57-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ofmdwobukkl4-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_l15ecstl8oa-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_d4vfyjs3ueen-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_engtlp7jicgj-8 > li {
  counter-increment: lst-ctn-kix_engtlp7jicgj-8;
}
.lst-kix_i4l4wvvzngzv-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_qrbxqyylhkyl-6 > li:before {
  content: "\0025cf   ";
}
ol.lst-kix_engtlp7jicgj-0.start {
  counter-reset: lst-ctn-kix_engtlp7jicgj-0 0;
}
.lst-kix_egbjx34dlfyn-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_d4vfyjs3ueen-4 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_cvbgyqmv7tlq-5.start {
  counter-reset: lst-ctn-kix_cvbgyqmv7tlq-5 0;
}
.lst-kix_33ftv2cjf5y4-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_d4vfyjs3ueen-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_qrbxqyylhkyl-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_egbjx34dlfyn-5 {
  list-style-type: none;
}
ul.lst-kix_egbjx34dlfyn-6 {
  list-style-type: none;
}
ul.lst-kix_egbjx34dlfyn-7 {
  list-style-type: none;
}
ul.lst-kix_egbjx34dlfyn-8 {
  list-style-type: none;
}
.lst-kix_cvbgyqmv7tlq-6 > li {
  counter-increment: lst-ctn-kix_cvbgyqmv7tlq-6;
}
.lst-kix_db86g94n0120-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_egbjx34dlfyn-0 {
  list-style-type: none;
}
ul.lst-kix_egbjx34dlfyn-1 {
  list-style-type: none;
}
ul.lst-kix_egbjx34dlfyn-2 {
  list-style-type: none;
}
ul.lst-kix_egbjx34dlfyn-3 {
  list-style-type: none;
}
.lst-kix_cvbgyqmv7tlq-3 > li:before {
  content: "" counter(lst-ctn-kix_cvbgyqmv7tlq-3, decimal) ". ";
}
ul.lst-kix_egbjx34dlfyn-4 {
  list-style-type: none;
}
.lst-kix_prjn3vk11lit-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_33ftv2cjf5y4-2 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_cvbgyqmv7tlq-4.start {
  counter-reset: lst-ctn-kix_cvbgyqmv7tlq-4 0;
}
.lst-kix_cvbgyqmv7tlq-7 > li:before {
  content: "" counter(lst-ctn-kix_cvbgyqmv7tlq-7, lower-latin) ". ";
}
.lst-kix_prjn3vk11lit-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_i4l4wvvzngzv-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_q911cx4q8g5c-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_d8xnr192hzp4-5 > li:before {
  content: "\0025a0   ";
}
ol.lst-kix_cvbgyqmv7tlq-3.start {
  counter-reset: lst-ctn-kix_cvbgyqmv7tlq-3 0;
}
.lst-kix_engtlp7jicgj-1 > li {
  counter-increment: lst-ctn-kix_engtlp7jicgj-1;
}
.lst-kix_db86g94n0120-8 > li:before {
  content: "\0025a0   ";
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
ol.lst-kix_engtlp7jicgj-5 {
  list-style-type: none;
}
ol.lst-kix_engtlp7jicgj-6 {
  list-style-type: none;
}
.lst-kix_db86g94n0120-4 > li:before {
  content: "\0025cb   ";
}
ol.lst-kix_engtlp7jicgj-7 {
  list-style-type: none;
}
ol.lst-kix_engtlp7jicgj-8 {
  list-style-type: none;
}
.lst-kix_q911cx4q8g5c-6 > li:before {
  content: "\0025cf   ";
}
ol.lst-kix_engtlp7jicgj-0 {
  list-style-type: none;
}
ol.lst-kix_engtlp7jicgj-1 {
  list-style-type: none;
}
ol.lst-kix_engtlp7jicgj-2 {
  list-style-type: none;
}
ol.lst-kix_engtlp7jicgj-3 {
  list-style-type: none;
}
ol.lst-kix_engtlp7jicgj-4 {
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c17 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-weight: 400;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 16pt;
  font-style: normal;
}
.c5 {
  margin-left: 72pt;
  padding-top: 12pt;
  padding-left: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c0 {
  margin-left: 36pt;
  padding-top: 12pt;
  padding-left: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c6 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-style: normal;
}
.c10 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-style: normal;
}
.c11 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  font-style: normal;
}
.c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-style: normal;
}
.c8 {
  padding-top: 14pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c15 {
  padding-top: 18pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c2 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c9 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500000000000001;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c7 {
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c21 {
  padding-top: 24pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c16 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
}
.c13 {
  background-color: #ffffff;
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c12 {
  margin-left: 36pt;
  padding-left: 0pt;
}
.c18 {
  font-weight: 700;
  font-size: 17pt;
}
.c22 {
  font-size: 13pt;
  font-weight: 700;
}
.c19 {
  padding: 0;
  margin: 0;
}
.c4 {
  font-size: 12pt;
  font-weight: 700;
}
.c20 {
  height: 14pt;
}
.c14 {
  font-size: 12pt;
}
.c3 {
  height: 11pt;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
}
h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
